db:
 drivername: "mysql"
 host: "host"
 username: "upscale"
 password: "password"
 database: "upscale"

domain: '{0}.{1}.upscale.yourorganization.org'
data: '/data/'
varnish: 'varnish:6081'

# ssh public key for use with git 
public-key: |
 ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAIEAxBBy9uYqcxPIap9of7nbySHjJLurqTGART3k06NgSHpVvjotNMdMrz+NArijlTLunQD/5sxCxlIXHg2uXH2ECni0bfK/fC6TWWAmUuHcIdELfUTxark7CmalWG8BV39w6UYqGH0/nQfHgq4lRxSitrpWW90UCk2oJ0PvxNbrhnk=

broker:
 url: 'amqp://guest@host'

git:
 public: '{0}@host:~/git/{1}.git'
 ssh: '{0}@host:~/git/{1}.git'
 url: 'git://host/~{0}/{1}.git'

ec2:
 vpc-id: ''
 region: 'eu-west-1'
 access-key: ''
 secret-key: ''
 ssl-hostname-verification: true

